/* .container {
margin: auto;
padding-top: 20px;
padding-bottom: 20px;
max-width: 700px;
}
/* 
.container2 {
display: flex;
justify-content: space-between;
gap: 30px;
flex-wrap: wrap;
padding: 50px 0;
width: 100%;
border-radius: 25px;
padding: 30px;
min-width: 300px;
box-shadow: 0 4px 12px rgba(0,0,0,0.1);
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 50%;
}

.description {
    text-align: right;
    background-color: aqua
} */ 
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    font-family:"Poppins", sans-serif ;
}

body {
    background-color: #E7EDFB;
}

.container {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.Containerleft {
    border-start-start-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 70px;
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #3598FD;
    height: 500px;
}

.Containerright {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 70px;
    flex: 1;
    min-width: 300px;
    max-width: 350px;
    box-shadow: 0 0px 0px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    height: 500px;
}

.Containerleft img {
    margin-left: 10px;
}

.see, .welcome, .lorem1 {
    color: white;
}

.lorem2 {
    font-size: small;
    color: grey;
}

.login {
    color: #094DF8;
}

.input {
    color: gray;
}

.member {
    color: #094DF8;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
}

.input input {
  width: 100%;
  padding: 10px 12px;
  border: none;
  outline: none;
  background-color: #f9f9f9;
  border-left: 4px solid #2196F3; /* blue line */
  font-size: 14px;
  color: #333;
  border-radius: 4px; /* optional */
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.member:hover {
    color: #3598FD;
}

input[type="submit"] {
    background-color: #094DF8;
        color: white;
        border-radius: 5px;
        border-style: none;
        padding: 15px;
        width: 100%;
        transition: all 0.3s ease;
        margin-top: 50px;
}
input[type="submit"]:hover {
    background-color: #3598FD;
}