* {
    font-family: "Poppins", sans-serif;
}

html {
    scroll-padding-top: 60px;
}

/* NAVBAR */
.navbar i:hover {
    cursor: pointer;
}


/* RESPONSIVE */
@media (max-width: 991px) {
.navbar-collapse {
    text-align: center;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;       
    width: 100%;
}

.navbar-nav .nav-item {
    margin: 0 10px;
}

html {
    scroll-padding-top: 130px;
}
#col_service {
    display: flex;
    flex: 1;
}

.service img {
    width: 180px;
}

}

#navbar {
    transition: 0.3s ease;
}

#navbar.scrolled {
    background-color: #0D6EFD;
}

/* HERO */
.hero {
    background-image: linear-gradient(rgba(1, 1, 1,0.5)),url(../../assets/img/hero.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    gap: 100px;
}

/* PROJECT */
.project img {
    height: 250px;
    transition: 0.3s ease;
}

.project img:hover {
    scale: 1.02;
}
