* {
    font-family: "Poppins", sans-serif;
}

.navbar i:hover {
    cursor: pointer;
}

.hero {
    background-image: linear-gradient(rgba(1, 1, 1,0.5)),url(../../assets/img/hero.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project img {
    height: 250px;
    transition: 0.3s ease;
}

.project img:hover {
    scale: 1.04;
}